:root {
  --white: #ffffff;
  --black: #000000;
  --hrsa-gray-025: #fcfcfd;
  --hrsa-gray-050: #f9fafb;
  --hrsa-gray-100: #f2f4f7;
  --hrsa-gray-200: #eaecf0;
  --hrsa-gray-300: #d0d5dd;
  --hrsa-gray-400: #98a2b3;
  --hrsa-gray-500: #667085;
  --hrsa-gray-600: #475467;
  --hrsa-gray-700: #344054;
  --hrsa-gray-800: #182230;
  --hrsa-gray-900: #101828;
  --hrsa-gray-950: #0c111d;
  --hrsa-blue-50: #f4f9fe;
  --hrsa-blue-100: #87acc8;
  --hrsa-blue-200: #6e96b5;
  --hrsa-blue-300: #5780a0;
  --hrsa-blue-400: #426a89;
  --hrsa-blue-500: #2f5470;
  --hrsa-blue-600: #224b69;
  --hrsa-blue-700: #174160;
  --hrsa-blue-800: #0e3755;
  --hrsa-blue-900: #072c48;
  --hrsa-teal-50: #e7f7f6;
  --hrsa-teal-100: #91cac3;
  --hrsa-teal-200: #7ab9b1;
  --hrsa-teal-300: #65a59d;
  --hrsa-teal-400: #529088;
  --hrsa-teal-500: #407972;
  --hrsa-teal-600: #327069;
  --hrsa-teal-700: #25655e;
  --hrsa-teal-800: #1b5951;
  --hrsa-teal-900: #124b44;
  --hrsa-red-50: #f6cfcf;
  --hrsa-red-100: #f38080;
  --hrsa-red-200: #e46060;
  --hrsa-red-300: #d04040;
  --hrsa-red-400: #b72020;
  --hrsa-red-500: #9a0101;
  --hrsa-red-600: #980000;
  --hrsa-red-700: #900000;
  --hrsa-red-800: #840000;
  --hrsa-red-900: #730000;
  --hrsa-orange-50: #faedcb;
  --hrsa-orange-100: #f2c26b;
  --hrsa-orange-200: #efb346;
  --hrsa-orange-300: #eca421;
  --hrsa-orange-400: #da9312;
  --hrsa-orange-500: #bf8106;
  --hrsa-orange-600: #bb7800;
  --hrsa-orange-700: #b26c00;
  --hrsa-orange-800: #9f5f00;
  --hrsa-orange-900: #805000;
  --hrsa-body-bg: #eef2f5;
  --hrsa-footer-dark: #333;
  --hrsa-footer-darker: #272727;
  --disabled-dark: #adadad;
  --disabled-light: #e6e6e6;
  --disabled: #c9c9c9;
}

body {
  background-color: var(--hrsa-body-bg);
  font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.site-skipnav {
  font-size: 1.06rem;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  background: #0b4778;
  left: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  top: -5rem;
  transition: 0.15s ease-in-out;
  z-index: 100;
}
.site-skipnav:visited {
  color: #fff;
}
.site-skipnav:hover {
  color: #fff;
  text-decoration: underline;
}
.site-skipnav:active {
  color: #fff;
}
.site-skipnav:focus {
  outline: 0.25rem solid #2491ff;
  outline-offset: 0;
  background: #0b4778;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.15s ease-in-out;
}
.site-skipnav__container {
  position: relative;
}

.site-main {
  padding: 1rem 0;
}

.foo-header {
  background-color: var(--hrsa-blue-500);
  height: 80px;
}

.foo-crumbs {
  background-color: lawngreen;
  padding: 1rem;
}

.foo-main {
  background-color: gold;
}
.foo-main--site-sidebar-mini-open {
  padding-left: 64px;
  background-image: linear-gradient(90deg, #fff, #fff 64px, gold 64px, gold 64px);
}

.foo-sidebar-mini {
  background-color: white;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 64px;
  display: inline-block;
}

.foo-sidebar-mini-to-top {
  background-color: var(--hrsa-blue-800);
  color: var(--white);
  width: 64px;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 200ms;
  opacity: 0;
}
.foo-sidebar-mini-to-top--show {
  display: block;
  opacity: 1;
}

.foo-footer {
  background-color: brown;
  height: 100px;
}

.hhs-banner {
  width: 100%;
  background-color: #272727;
}
.hhs-banner__content {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.hhs-banner__logo {
  margin-right: 10px;
  margin-top: -2px;
  max-width: 22px;
  height: auto;
}
.hhs-banner__link {
  color: #fff;
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 0;
  text-decoration: none;
}
.hhs-banner__link:hover, .hhs-banner__link:focus {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

.breadcrumb {
  font-size: 0.75rem;
  margin: 0 0 1rem 0;
  padding: 0;
}
.breadcrumb__list {
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
  display: block;
  padding: 0.25rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.breadcrumb__list-item {
  display: inline-flex;
  align-items: center;
  position: absolute;
  left: -999em;
  right: auto;
}
.breadcrumb__list-item:nth-last-child(2) {
  position: static;
}
@media only screen and (min-width: 480px) {
  .breadcrumb__list-item {
    position: static;
  }
}
.breadcrumb__list-item:nth-last-child(2) .breadcrumb__link::before {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  background-color: transparent;
  background-image: url(../img/breadcrumbs/seperator-back.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-flex;
  height: 0.625rem;
  width: 0.625rem;
  content: "";
}
@media only screen and (min-width: 480px) {
  .breadcrumb__list-item:nth-last-child(2) .breadcrumb__link::before {
    display: none;
  }
}
.breadcrumb__list-item::after {
  display: none;
}
@media only screen and (min-width: 480px) {
  .breadcrumb__list-item:not(:last-child)::after {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    background-color: transparent;
    background-image: url(../img/breadcrumbs/seperator.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-flex;
    height: 0.625rem;
    width: 0.625rem;
    content: "";
  }
}
.breadcrumb__link {
  text-decoration: none;
  font-weight: 600;
  color: var(--hrsa-blue-500);
}
.breadcrumb__link:hover, .breadcrumb__link:focus {
  text-decoration: underline;
  color: var(--hrsa-blue-700);
}

.site-footer {
  color: var(--white);
}
.site-footer__nav {
  background-color: var(--hrsa-footer-dark);
  padding: 2rem 0;
}
.site-footer__nav-header {
  color: #aaa;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
}
.site-footer__nav-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}
.site-footer__nav-list__item {
  margin: 0.5rem 0;
  padding: 0;
  color: #f2f2f2;
  font-size: 0.875rem;
}
.site-footer__nav-list__item:first-of-type {
  margin-top: 0;
}
.site-footer__nav-list__item i {
  margin-right: 0.75rem;
}
.site-footer__nav-list__item > a {
  color: #f2f2f2;
  text-decoration: none;
}
.site-footer__nav-list__item > a:hover, .site-footer__nav-list__item > a:focus {
  color: var(--white);
  text-decoration: none;
}
.site-footer__nav-list__item > a:hover span, .site-footer__nav-list__item > a:focus span {
  border-bottom: #fff 1px solid;
}
.site-footer__copyright {
  background-color: var(--hrsa-footer-darker);
  padding: 1rem;
}
.site-footer__copyright-group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0;
  color: #bababa;
  font-size: 0.8125rem;
}
.site-footer__copyright-info {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex: 1;
}
.site-footer__hhs-logo {
  max-width: 3rem;
  width: 100%;
  height: auto;
  margin-right: 1rem;
}
.site-footer__copyright-product {
  padding: 5px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.site-footer__copyright-product-text {
  margin-right: 1rem;
}
.site-footer__copyright-product-text > a {
  color: #f2f2f2;
  text-decoration: none;
}
.site-footer__copyright-product-text > a:hover, .site-footer__copyright-product-text > a:focus {
  text-decoration: none;
  border-bottom: #fff 1px solid;
}
.site-footer__hrsa-logo {
  max-width: 6rem;
  width: 100%;
  height: auto;
  margin: 0;
}

.icon-task-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  display: flex;
  flex-flow: column wrap;
}
.icon-task-list__item {
  background-color: var(--white);
  padding: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: var(--hrsa-gray-300) 1px solid;
  text-decoration: none;
  color: var(--black);
}
.icon-task-list__item:last-of-type {
  border-bottom: 0;
}
.icon-task-list__item:hover, .icon-task-list__item:focus {
  background-color: var(--hrsa-gray-100);
}
.icon-task-list__icon {
  padding: 0;
  flex-basis: 1.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  line-height: 1;
}
.icon-task-list__icon > svg {
  fill: currentColor;
}
.icon-task-list__icon--dashboard {
  color: #793967;
}
.icon-task-list__icon--layers {
  color: #0d3c58;
}
.icon-task-list__content {
  padding: 0 1rem;
  flex: 1;
  border-left: var(--hrsa-gray-300) 1px solid;
  min-height: 1.5rem;
  display: flex;
  flex-flow: column wrap;
}
.icon-task-list__content-name {
  display: block;
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}
.icon-task-list__content-name--clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.icon-task-list__content-name--clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.icon-task-list__content-name--clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.icon-task-list__content-category {
  display: block;
  font-size: 0.8125rem;
  padding: 0.125rem 0;
  margin: 0;
  color: var(--hrsa-gray-500);
}
.icon-task-list__secondary-text {
  text-align: right;
  color: var(--hrsa-gray-500);
  font-size: 0.75rem;
}
.icon-task-list__actions {
  padding: 0;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.icon-task-list__actions button {
  margin: 0 0.25rem;
}
.icon-task-list__actions button:first-of-type {
  margin-left: 0;
}
.icon-task-list__actions button:last-of-type {
  margin-right: 0;
}

.icon-btn {
  background-color: transparent;
  border: 0;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--hrsa-gray-600);
  font-size: 1.125rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
}
.icon-btn svg,
.icon-btn img {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}
.icon-btn:hover {
  background-color: transparent;
  color: red;
}
.icon-btn:active {
  background-color: transparent;
  color: red;
}
.icon-btn:disabled {
  background-color: var(--disabled);
  color: #fff;
  pointer-events: none;
}
.icon-btn--sm {
  padding: 0.4375rem;
  font-size: 1rem;
  min-width: 2rem;
  min-height: 2rem;
}
.icon-btn--sm svg,
.icon-btn--sm img {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  fill: currentColor;
}
.icon-btn--xs {
  padding: 0.25rem;
  font-size: 0.75rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
}
.icon-btn--xs svg,
.icon-btn--xs img {
  display: block;
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}
.icon-btn--primary {
  background-color: var(--hrsa-blue-500);
  color: #fff;
}
.icon-btn--primary:hover {
  background-color: var(--hrsa-orange-300);
  color: var(--hrsa-blue-500);
}
.icon-btn--primary:active {
  background-color: var(--hrsa-orange-400);
  color: var(--hrsa-blue-500);
}
.icon-btn--light {
  background-color: transparent;
  color: var(--hrsa-gray-400);
}
.icon-btn--light:hover {
  background-color: var(--hrsa-gray-300);
  color: var(--hrsa-gray-500);
}
.icon-btn--light:active {
  background-color: var(--hrsa-gray-300);
  color: var(--hrsa-gray-600);
}
.icon-btn--outline-primary {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--hrsa-blue-500);
  color: var(--hrsa-blue-500);
}
.icon-btn--outline-primary:disabled {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--disabled);
  color: var(--disabled);
}
.icon-btn--outline-primary:hover {
  background-color: var(--hrsa-gray-200);
  box-shadow: inset 0 0 0 1px var(--hrsa-blue-700);
  color: var(--hrsa-blue-700);
}
.icon-btn--outline-primary:active {
  background-color: var(--hrsa-gray-300);
  box-shadow: inset 0 0 0 1px var(--hrsa-blue-900);
  color: var(--hrsa-blue-900);
}

.sidebar-top-btn {
  background-color: var(--hrsa-blue-900);
  color: var(--white);
  border: 0;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.55rem;
  min-width: 4rem;
  min-height: 80px;
}
.sidebar-top-btn svg,
.sidebar-top-btn img {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}
.sidebar-top-btn:hover {
  background-color: var(--hrsa-blue-800);
  color: var(--hrsa-blue-200);
}
.sidebar-top-btn:active {
  background-color: var(--hrsa-blue-800);
  color: var(--hrsa-blue-200);
}
.sidebar-top-btn:disabled {
  background-color: var(--hrsa-blue-900);
  color: var(--hrsa-blue-300);
  pointer-events: none;
}

.sidebar-menu {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.sidebar-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu-list__item {
  margin: 0;
  padding: 0;
}

/*buttons*/
.sidebar-menu-btn {
  background-color: transparent;
  color: var(--hrsa-blue-900);
  border: 0;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.55rem;
  min-width: 4rem;
  min-height: 4rem;
}
.sidebar-menu-btn svg,
.sidebar-menu-btn img {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}
.sidebar-menu-btn:hover {
  background-color: var(--hrsa-gray-300);
  color: var(--hrsa-blue-900);
}
.sidebar-menu-btn:active {
  background-color: var(--hrsa-gray-500);
  color: var(--hrsa-blue-900);
}
.sidebar-menu-btn:disabled {
  background-color: transparent;
  color: var(--hrsa-gray-300);
  pointer-events: none;
}
