:root {
  --white: #ffffff;
  --black: #000000;

  --hrsa-gray-025: #fcfcfd;
  --hrsa-gray-050: #f9fafb;
  --hrsa-gray-100: #f2f4f7;
  --hrsa-gray-200: #eaecf0;
  --hrsa-gray-300: #d0d5dd;
  --hrsa-gray-400: #98a2b3;
  --hrsa-gray-500: #667085;
  --hrsa-gray-600: #475467;
  --hrsa-gray-700: #344054;
  --hrsa-gray-800: #182230;
  --hrsa-gray-900: #101828;
  --hrsa-gray-950: #0c111d;

  --hrsa-blue-50: #f4f9fe;
  --hrsa-blue-100: #87acc8;
  --hrsa-blue-200: #6e96b5;
  --hrsa-blue-300: #5780a0;
  --hrsa-blue-400: #426a89;
  --hrsa-blue-500: #2f5470;
  --hrsa-blue-600: #224b69;
  --hrsa-blue-700: #174160;
  --hrsa-blue-800: #0e3755;
  --hrsa-blue-900: #072c48;

  --hrsa-teal-50: #e7f7f6;
  --hrsa-teal-100: #91cac3;
  --hrsa-teal-200: #7ab9b1;
  --hrsa-teal-300: #65a59d;
  --hrsa-teal-400: #529088;
  --hrsa-teal-500: #407972;
  --hrsa-teal-600: #327069;
  --hrsa-teal-700: #25655e;
  --hrsa-teal-800: #1b5951;
  --hrsa-teal-900: #124b44;

  --hrsa-red-50: #f6cfcf;
  --hrsa-red-100: #f38080;
  --hrsa-red-200: #e46060;
  --hrsa-red-300: #d04040;
  --hrsa-red-400: #b72020;
  --hrsa-red-500: #9a0101;
  --hrsa-red-600: #980000;
  --hrsa-red-700: #900000;
  --hrsa-red-800: #840000;
  --hrsa-red-900: #730000;

  --hrsa-orange-50: #faedcb;
  --hrsa-orange-100: #f2c26b;
  --hrsa-orange-200: #efb346;
  --hrsa-orange-300: #eca421;
  --hrsa-orange-400: #da9312;
  --hrsa-orange-500: #bf8106;
  --hrsa-orange-600: #bb7800;
  --hrsa-orange-700: #b26c00;
  --hrsa-orange-800: #9f5f00;
  --hrsa-orange-900: #805000;

  --hrsa-body-bg: #eef2f5;
  --hrsa-footer-dark: #333;
  --hrsa-footer-darker: #272727;

  --hrsa-alert-info: #e7f6f8;
  --hrsa-alert-warning: #faf3d1;
  --hrsa-alert-success: #ecf3ec;
  --hrsa-alert-error: #f4e3db;
  --hrsa-alert-emergency: #9c3d10;

  --disabled-dark: #adadad;
  --disabled-light: #e6e6e6;
  --disabled: #c9c9c9;

  --icon-dashboard: #793967;
  --icon-layer: #0d3c58;
  --icon-report: #7567a8;
  --icon-task: #407974;
  --icon-training: #105e8e;
  --icon-folder: #cf9738;
  --icon-monitoring: #5b5e5a;
  --icon-sitemap: #815355;
  --icon-document: #427b8a;

  --icon-doc: #2a8cc4;
  --icon-xls: #5b983f;
  --icon-ppt: #e3703f;
  --icon-pdf: #c9424e;
  --icon-jpg: #689ebc;
  --icon-msg: #4d5699;
  --icon-zip: #e0ad21;
  --icon-mp4: #015ca3;
  --icon-xml: #4c8562;
}

// breakpoints
$hrsa-breakpoint-sm: 576px;
$hrsa-breakpoint-md: 768px;
$hrsa-breakpoint-lg: 992px;
$hrsa-breakpoint-xl: 1200px;

//header heights
$hhs-banner-height: 32px;
$site-header-height: 70px;

//mobile-variables
$app-header-bg: #fff;
$app-header-height-sm: 64px;
$app-header-height-lg: 88px;
$app-topbar-height: 52px;

$app-sidebar-width: 320px;
$app-guide-bg-color: #fff;
$app-guide-header-bg: var(--hrsa-blue-700);
$app-guide-transition-duration: 0.3s;

//font families
$icon-font-family: "Font Awesome 6 Free";
$base-font-family: Helvetica, Arial, sans-serif;

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--hrsa-body-bg);
  font-family: $base-font-family;
}

@import "helpers/animations";

@import "layout/skipnav";
@import "layout/main";
@import "layout/navigation";

@import "layout/hhs-banner";
@import "layout/site-header";
@import "layout/site-top-nav";
@import "layout/site-top-search-btn";
@import "layout/site-top-user-btn";
@import "layout/site-top-navicon";
@import "layout/site-top-search-form";

@import "layout/site-top-nav-submenu";
@import "layout/site-top-user-menu";

@import "layout/app-mobile-scrim";
@import "layout/app-mobile-nav";

@import "layout/breadcrumbs";
@import "layout/nav-crumb";
@import "layout/footer";
@import "layout/site-identifier";

@import "components/icon-task-list";
@import "components/icon-task-header";
@import "components/icon-btn";
@import "components/icon-btn-list";
@import "components/badge";
@import "components/sidebar-top-btn";
@import "components/sidebar-menu";
@import "components/alerts";
@import "components/button-group";
@import "components/buttons";

@import "components/landing-header";
@import "components/landing-btn-list";
@import "components/landing-btn";

@import "components/site-panel";
@import "components/site-tasks-favorites";
@import "components/favorite-top-header";
