//stop scrolling of body
body[noscroll] {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  /* Other browsers */
  overscroll-behavior: none;
}

//nav holder
.app-mobile-nav-group {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100vh;
  z-index: 2;
  &[opened] {
    z-index: 3;
    width: 100%;

    .app-mobile-nav-group-inner {
      width: 100%;
      @media (min-width: $hrsa-breakpoint-sm) {
        width: $app-sidebar-width;
      }
    }
  }
}

//wrap for the nav
.app-mobile-nav-group-inner {
  background-color: $app-guide-bg-color;
  width: $app-sidebar-width;
  transform: translate3d(-100%, 0, 0);
  visibility: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition-property: transform;
  transition-duration: $app-guide-transition-duration;

  &[opened] {
    transform: translate3d(0, 0, 0);
  }

  &[no-transition] {
    transition: none;
  }
}

//header
.app-mobile-header {
  background-color: $app-guide-header-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  height: $app-header-height-sm;
  z-index: 1;
  position: relative;
  padding: 16px;
}

//wrapper for nav should handle scrolling
.app-mobile-nav-list-group {
  background: $app-guide-bg-color;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: $app-header-height-sm;
  overflow: auto;
}

.app-mobile-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  &__item {
    border-bottom: var(--hrsa-gray-400) 1px solid;
    font-size: 16px;
    font-weight: 600;
  }
  &__link {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--hrsa-gray-900);
    text-decoration: none;
    background: transparent;
    border: 0;
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    text-align: left;
    &:hover {
      color: var(--hrsa-blue-700);
      background-color: var(--hrsa-gray-200);
    }
    &.collapsed {
      .app-mobile-nav-list__expand {
        transform: rotate(0deg);
      }
    }
  }
  &__icon-text {
    display: inline-flex;
    align-items: center;
    min-width: 0; //need for text truncation
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 4px;
    display: inline-flex;
    flex: 0 0 24px;
    svg,
    img {
      width: 100%;
      height: auto;
      fill: currentColor;
    }
    &--sm {
      width: 20px;
      height: 20px;
    }
    &--avatar {
      margin-right: 8px;
      margin-left: 0;
    }
  }
  &__expand {
    width: 24px;
    height: 24px;
    display: inline-flex;
    flex: 0 0 24px;
    transform: rotate(180deg);
    svg,
    img {
      width: 100%;
      height: auto;
      fill: currentColor;
    }
  }
}
//submenu
.app-mobile-nav-submenu {
  background-color: transparent;
}
.app-mobile-nav-submenu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    border-top: var(--hrsa-gray-400) 1px solid;
    font-size: 16px;
    font-weight: 400;
  }
  &__link {
    padding: 16px 16px 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--hrsa-gray-900);
    text-decoration: none;
    background: transparent;
    border: 0;
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    text-align: left;
    &:hover {
      color: var(--hrsa-blue-700);
      background-color: var(--hrsa-gray-200);
    }
    &--sublevel-1 {
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 15px;
      &::before {
        content: "\2014";
        padding-right: 8px;
        font-weight: 300;
      }
    }
  }
}

/////////////////////////////////////////////////////////
//logo
.app-mobile-logo {
  background: none;
  width: 112px;
  &__image {
    display: block;
    fill: currentColor;
    img,
    svg {
      width: 100%;
      height: auto;
    }
  }
  a:focus {
    outline-offset: 4px;
  }
}

//close btn
.app-mobile-close {
  background-color: transparent;
}
.app-mobile-close-btn {
  background-color: transparent;
  border: 0;
  padding: 8px;
  color: var(--white);
  &:hover {
    color: var(--hrsa-blue-100);
  }
  img,
  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}
//wrap for the nav
.app-mobile-nav-group-inner {
  background-color: $app-guide-bg-color;
  width: $app-sidebar-width;
  transform: translate3d(-100%, 0, 0);
  visibility: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition-property: transform;
  transition-duration: $app-guide-transition-duration;

  &[opened] {
    transform: translate3d(0, 0, 0);
  }

  &[no-transition] {
    transition: none;
  }
}
