//submenu
.app-nav-submenu {
  background-color: var(--hrsa-gray-900);
  padding: 0.75rem;
  min-width: 16rem;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  margin-top: 0 !important; //bs override
}
.app-submenu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    font-size: 0.875rem;
    font-weight: 400;
  }
  &__link {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
    background: transparent;
    border: 0;
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    text-align: left;
    &:hover {
      color: rgba(255, 255, 255, 0.6);
      background-color: transparent;
    }
    &--sublevel-1 {
      //padding-left: 3rem;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 0.9375rem;
      &::before {
        content: "\2014";
        padding-right: 0.5rem;
        font-weight: 300;
      }
    }
  }
}
