.breadcrumb {
  font-size: 12px;
  margin: 0;
  padding: 0;
  &__list {
    margin: 0;
    list-style-type: none;
    display: block;
    padding: 0;
  }

  &__list-item {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: -999em;
    right: auto;
    &:nth-last-child(2) {
      position: static;
    }
    @media only screen and (min-width: $hrsa-breakpoint-sm) {
      position: static;
    }

    &:nth-last-child(2) .breadcrumb__link::before {
      margin-right: 4px;
      margin-left: 0;
      background-color: transparent;
      display: inline-flex;
      content: "\f053";
      padding: 0;
      font-weight: 900;
      font-family: $icon-font-family;
      font-size: 12px;
      line-height: 1;
      color: var(--hrsa-gray-400);

      @media only screen and (min-width: $hrsa-breakpoint-sm) {
        display: none;
      }
    }
    &::after {
      display: none;
    }
    @media only screen and (min-width: $hrsa-breakpoint-sm) {
      &:not(:last-child)::after {
        margin-right: 0px;
        margin-left: 4px;
        background-color: transparent;
        display: inline-flex;
        content: "\f101";
        padding: 0;
        font-weight: 900;
        font-family: $icon-font-family;
        font-size: 9px;
        line-height: 1;
        color: var(--hrsa-gray-400);
      }
    }
  }
  &__link {
    text-decoration: none;
    font-weight: 600;
    color: var(--hrsa-blue-500);
    &:hover,
    &:focus {
      text-decoration: underline;
      color: var(--hrsa-blue-700);
    }
  }
}
