.site-footer {
  color: var(--white);
  &--sidebar-mini-open {
    padding-left: $site-sidebar-mini-width;
  }

  &__nav {
    background-color: var(--hrsa-footer-dark);
    padding: 32px 0;
  }
  &__nav-header {
    color: #aaa;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
  }
  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 12px 0 24px 0;
    @media (min-width: $hrsa-breakpoint-md) {
      margin: 12px 0;
    }

    &__item {
      margin: 8px 0;
      padding: 0;
      color: #f2f2f2;
      font-size: 14px;
      &:first-of-type {
        margin-top: 0;
      }
      i {
        margin-right: 12px;
      }
      > a {
        color: #f2f2f2;
        text-decoration: none;
        &:hover,
        &:focus {
          color: var(--white);
          text-decoration: none;

          span {
            border-bottom: #fff 1px solid;
          }
        }
      }
    }
  }
  &__copyright {
    background-color: var(--hrsa-footer-darker);
    padding: 16px 0;
  }
  &__copyright-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0;
    color: #bababa;
    font-size: 13px;
  }
  &__copyright-info {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 1;
  }
  &__hhs-logo {
    max-width: 32px;
    width: 100%;
    height: auto;
    margin-right: 16px;
  }

  &__copyright-product {
    padding: 5px;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__copyright-product-text {
    margin-right: 16px;
    > a {
      color: #f2f2f2;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: none;
        border-bottom: #fff 1px solid;
      }
    }
  }
  &__hrsa-logo {
    max-width: 96px;
    width: 100%;
    height: auto;
    margin: 0;
  }
}
