$site-header-height: 80px;
$site-sidebar-mini-width: 64px;

.foo-header {
  background-color: var(--hrsa-blue-500);
  height: $site-header-height;
}

.foo-main {
  background-color: var(--hrsa-body-bg);

  &--sidebar-mini-open {
    padding-left: $site-sidebar-mini-width;
    background-image: linear-gradient(
      90deg,
      #fff,
      #fff $site-sidebar-mini-width,
      var(--hrsa-body-bg) $site-sidebar-mini-width,
      var(--hrsa-body-bg) $site-sidebar-mini-width
    );
  }
}
.foo-sidebar-mini {
  background-color: white;
  position: fixed;
  top: $site-header-height;
  bottom: 0;
  left: 0;
  width: $site-sidebar-mini-width;

  display: inline-block;
}
.foo-sidebar-mini-to-top {
  background-color: var(--hrsa-blue-800);
  color: var(--white);
  width: $site-sidebar-mini-width;
  height: $site-header-height;
  position: fixed;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 200ms;
  opacity: 0;
  display: none;

  &--show {
    display: block;
    opacity: 1;
  }
}
