.site-top-search-form {
  //background-color: seagreen;
  display: grid;
  column-gap: 0;
  display: grid;
  grid-template-areas:
    "filters filters"
    "field submit";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  column-gap: 0;
  row-gap: 8px;
  margin: 0 auto;

  @media (min-width: $hrsa-breakpoint-sm) {
    grid-template-areas: "filters field submit";
    grid-template-columns: 180px 1fr 40px;
    row-gap: 0;
  }

  &__filters {
    //background-color: darkgoldenrod;
    grid-area: filters;
    select {
      width: 100%;
    }
  }
  &__field {
    //background-color: lightseagreen;
    grid-area: field;
    input {
      width: 100%;
    }
  }
  &__submit {
    //background-color: turquoise;
    grid-area: submit;
  }

  &__btn {
    background-color: var(--white);
    border: 0;
    border-radius: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    min-width: 40px;
    color: var(--hrsa-gray-500);

    @media (min-width: $hrsa-breakpoint-sm) {
      border-radius: 0 6px 6px 0;
    }
    &::before {
      content: "\f002";
      padding: 0;
      font-weight: 900;
      font-family: "Font Awesome 6 Free";
      font-size: 16px;
      line-height: 1;
      color: currentColor;
    }
    &:hover,
    &:focus {
      color: var(--hrsa-gray-900);
      background-color: var(--hrsa-gray-200);
    }
    &:active {
      background-color: var(--hrsa-gray-400);
    }
  }
  &__select-wrap {
    position: relative;
    &::after {
      content: "\f0d7";
      padding: 0;
      font-weight: 900;
      font-family: "Font Awesome 6 Free";
      font-size: 12px;
      line-height: 1;
      color: var(--hrsa-gray-900);
      position: absolute;
      right: 4px;
      top: calc(50% - 12px);
      background: transparent;
      width: 24px;
      height: 24px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
    }
  }
  &__select {
    background-color: var(--hrsa-gray-200);
    border: 0;
    padding: 8px 12px;
    min-height: 40px;
    appearance: none;
    font-size: 14px;
    border-radius: 0;
    @media (min-width: $hrsa-breakpoint-sm) {
      border-radius: 6px 0 0 6px;
    }
  }
  &__input {
    background-color: #fff;
    border: 0;
    padding: 8px 12px;
    min-height: 40px;
    font-size: 14px;
  }
}
