.site-top-nav {
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  &__item {
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    position: relative;
  }
  &__link {
    padding: 1rem 0.75rem;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    min-height: $site-header-height;
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0.75rem;
      right: 0.75rem;
      bottom: 20px;
      height: 0;
      transition: height 0.15s ease-in-out;
      background: var(--hrsa-orange-400);
    }

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--white);
      &::after {
        height: 2px;
      }
    }
    &.show {
      background-color: var(--hrsa-gray-900);
      &::after {
        //display: none;
        background: var(--hrsa-blue-400);
      }
    }

    &--selected {
      &::after {
        content: "";
        height: 2px;
      }
    }
  }
}
