.site-header-group {
  background-color: var(--hrsa-blue-800);
  background-image: url(../img/navigation/top-nav-bg.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

.site-header {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  &__logo {
    color: var(--white);
    max-width: 112px;
    min-width: 112px;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 12px;
    position: relative;
    min-height: $site-header-height;

    img,
    svg {
      width: 100%;
      height: auto;
      fill: currentColor;
    }
  }
  &__logo-link {
    text-decoration: none;
    display: block;
  }
  &__nav {
    flex: 1;
  }
  &__search {
    background-color: transparent;
  }
  &__user {
    background-color: transparent;
    min-height: $site-header-height;
    @media (min-width: $hrsa-breakpoint-xl) {
      border-left: var(--hrsa-gray-500) 1px solid;
      margin-right: -12px;
    }
  }
  &__navicon {
    background-color: transparent;
    min-height: $site-header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -10px 0 0;
    padding: 0;
    @media (min-width: $hrsa-breakpoint-lg) {
      display: none;
    }
  }
}
