.site-header {
  background-color: var(--hrsa-blue-500);
  padding: 10px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  &__logo {
    color: var(--white);
    max-width: 144px;
    img,
    svg {
      width: 100%;
      height: auto;
      fill: currentColor;
    }
  }
  &__logo-link {
    text-decoration: none;
    display: block;
  }
  &__nav {
    flex: 1;
  }
  &__search {
    background-color: coral;
  }
  &__user {
    background-color: magenta;
  }
  &__navicon {
    background-color: blue;
  }
}
