//submenu
.site-top-nav-submenu {
  background-color: var(--hrsa-gray-900);
  padding: 12px;
  min-width: 256px;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0;
  border: 0;
  box-shadow: none;

  &[data-bs-popper] {
    margin-top: 0;
  }
}
.site-top-nav-submenu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    font-size: 14px;
    font-weight: 400;
  }
  &__header {
    background-color: transparent;
    color: var(--hrsa-orange-300);

    display: flex;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    padding: 8px;
    margin: 0 0 8px 0;
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 8px;
      right: 8px;
      bottom: 0;
      height: 1px;
      background: var(--hrsa-orange-400);
    }
  }
  &__link {
    padding: 8px;
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-start;
    color: var(--white);
    text-decoration: none;
    background: transparent;
    border: 0;
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    text-align: left;
    &:hover {
      color: var(--hrsa-orange-300);
      text-decoration: none;
      background-color: transparent;
    }

    &--is-external {
      &::after {
        content: "\f08e";
        padding-left: 8px;
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        font-size: 12px;
      }
    }
  }
}
