.site-top-nav {
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: none;

  @media (min-width: $hrsa-breakpoint-lg) {
    display: flex;
    flex-flow: row nowrap;
  }
  &__item {
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    position: relative;
    &--unset {
      position: unset;
    }
  }
  &__link {
    padding: 16px 10px;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    min-height: $site-header-height;
    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 10px;
      right: 10px;
      bottom: 20px;
      height: 0;
      transition: height 0.15s ease-in-out;
      background: var(--hrsa-orange-400);
      border-radius: 6px;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--white);
      &::before {
        height: 2px;
      }
    }
    &.show {
      background-color: var(--hrsa-gray-900);
      &::before {
        display: none;
        //background: var(--hrsa-blue-400);
      }

      &::after {
        transform: rotate(180deg);
      }
    }

    &--selected {
      &::before {
        content: "";
        height: 2px;
      }
    }
    &--has-menu {
      &::after {
        content: "\f078";
        font-size: 8px;
        line-height: 1;
        font-weight: 900;
        font-family: $icon-font-family;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 16px;
        width: auto;
        margin-left: 6px;
        background: transparent;
        color: currentColor;
      }
    }
  }
}
