.site-top-search-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 1rem 0.75rem;
  margin: 0;
  color: var(--white);
  font-size: 14px;
  min-height: $site-header-height;
  cursor: pointer;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0.75rem;
    right: 0.75rem;
    bottom: 20px;
    height: 0;
    transition: height 0.15s ease-in-out;
    background: var(--hrsa-orange-400);
    border-radius: 6px;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--white);
    &::before {
      height: 2px;
    }
  }

  &__text {
    margin-right: 8px;
    color: currentColor;
    line-height: inherit;
  }
  &__icon {
    color: currentColor;
    line-height: inherit;
  }
}
