.site-top-user-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 0 0 0;
  padding: 16px 12px;
  border: 0;
  position: relative;
  min-height: $site-header-height;

  &:hover,
  &:focus {
    background-color: var(--hrsa-gray-800);
  }
  &__arrow {
    font-size: 12px;
    line-height: 1;
    color: var(--white);
    margin-right: 6px;
    display: none;
  }
  &__text {
    display: none;
    text-align: right;
    max-width: 136px;
    font-size: inherit;
    margin-right: 8px;
    line-height: 1;
    @media (min-width: $hrsa-breakpoint-lg) {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
    }
  }
  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: var(--white);
    font-weight: 500;
  }
  &__timestamp {
    font-size: 11px;
    line-height: inherit;
    color: var(--hrsa-gray-300);
    margin-top: 6px;
    white-space: nowrap;
  }
  &__icon {
    font-size: 24px;
    line-height: 1;
    color: var(--white);
    margin-left: 0;
    @media (min-width: $hrsa-breakpoint-lg) {
      margin-left: 6px;
    }
  }
}
