.site-btn {
  display: inline-flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--hrsa-gray-900);
  align-items: center;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;
  padding: 12px 20px;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;

  @media (min-width: $hrsa-breakpoint-sm) {
    width: auto;
  }

  &:not([disabled]).fdx-btn--focus,
  &:not([disabled]):focus {
    outline-offset: 2px;
  }
  &:hover {
    color: var(--hrsa-gray-900);
  }
  &:disabled {
    background-color: var(--hrsa-gray-400);
    color: #fff;
    pointer-events: none;
  }
  //large button
  &--large {
    font-size: 22px;
    padding: 16px 24px;
  }

  &--unstyled {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    text-decoration: underline;
    font-weight: 400;
    color: var(--hrsa-blue-500);
    &:hover {
      color: var(--hrsa-blue-700);
    }
    &:active {
      color: var(--hrsa-blue-900);
    }
  }

  &--primary {
    background-color: var(--hrsa-blue-500);
    color: #fff;
    &:hover {
      background-color: var(--hrsa-blue-700);
      color: #fff;
    }
    &:active {
      background-color: var(--hrsa-blue-900);
      color: #fff;
    }
  }
  //secondary
  &--secondary {
    background-color: var(--hrsa-teal-500);
    color: #fff;
    &:hover {
      background-color: var(--hrsa-teal-700);
      color: #fff;
    }
    &:active {
      background-color: var(--hrsa-teal-900);
      color: #fff;
    }
  }

  //base
  &--base {
    background-color: var(--hrsa-gray-500);
    color: #fff;
    &:hover {
      background-color: var(--hrsa-gray-700);
      color: #fff;
    }
    &:active {
      background-color: var(--hrsa-gray-900);
      color: #fff;
    }
  }

  //error
  &--error {
    background-color: var(--hrsa-red-500);
    color: #fff;
    &:hover {
      background-color: var(--hrsa-red-700);
      color: #fff;
    }
    &:active {
      background-color: var(--hrsa-red-900);
      color: #fff;
    }
  }

  &--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--hrsa-blue-500);
    color: var(--hrsa-blue-500);
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px var(--hrsa-gray-400);
      color: var(--hrsa-gray-400);
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px var(--hrsa-blue-700);
      color: var(--hrsa-blue-700);
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px var(--hrsa-blue-800);
      color: var(--hrsa-blue-800);
    }
  }
}
