.favorite-top-header {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 16px;

  &--bordered {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid var(--hrsa-gray-300);
      height: 1px;
    }
  }

  &__title {
    display: inline-flex;
    align-items: center;
    flex: 1;
  }
  &__text {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--hrsa-gray-600);
    margin: 0;
    padding: 0;
  }
  &__icon {
    background-color: transparent;
    margin-right: 0.375rem;
    color: currentColor;
    padding: 0;
    flex-basis: 14px;
    font-size: 14px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__count {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 0 8px;
    padding: 0;
  }
  &__count-numerator,
  &__count-slash,
  &__count-denominator {
    margin: 0 2px;
  }
}
