.icon-task-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-flow: column;

  &__item {
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: var(--hrsa-gray-300) 1px solid;
    position: relative;

    &:last-of-type {
      border-bottom: 0;
    }
    &--favorite {
      margin-bottom: 4px;
      border: var(--hrsa-gray-300) 1px solid;
      border-radius: 4px;
      overflow: hidden;
      &:last-of-type {
        margin-bottom: 0;
        border-bottom: var(--hrsa-gray-300) 1px solid;
      }

      .icon-task-list {
        &__link {
          &:hover,
          &:focus {
            background-color: var(--hrsa-gray-200);
          }
        }
      }
    }
  }

  &__link {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 16px 16px 16px 1.25rem;
    text-decoration: none;
    color: var(--hrsa-blue-500);
    background-color: var(--white);

    &:hover,
    &:focus {
      background-color: var(--hrsa-gray-100);
    }
    &--highlight {
      box-shadow: inset 4px 0px 0px 0px var(--hrsa-orange-300);
    }

    &--1-actions {
      padding-right: 48px;
    }
    &--2-actions {
      padding-right: 84px;
    }
    &:active {
      background-color: var(--hrsa-gray-200);
    }
    &:focus-visible {
      outline-offset: 0px;
    }
  }
  &__icon {
    padding: 0;
    flex-basis: 1.25rem;
    margin-right: 16px;
    font-size: 1.25rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;

    &--dashboard {
      color: var(--icon-dashboard);
    }
    &--layer {
      color: var(--icon-layer);
    }
    &--report {
      color: var(--icon-report);
    }
    &--task {
      color: var(--icon-task);
    }
    &--training {
      color: var(--icon-training);
    }
    &--folder {
      color: var(--icon-folder);
    }
    &--monitoring {
      color: var(--icon-monitoring);
    }
    &--sitemap {
      color: var(--icon-sitemap);
    }
    &--document {
      color: var(--icon-document);
    }
    &--doc {
      color: var(--icon-doc);
    }
    &--xls {
      color: var(--icon-xls);
    }
    &--ppt {
      color: var(--icon-ppt);
    }
    &--pdf {
      color: var(--icon-pdf);
    }
    &--jpg {
      color: var(--icon-jpg);
    }
    &--msg {
      color: var(--icon-msg);
    }
    &--zip {
      color: var(--icon-zip);
    }
    &--mp4 {
      color: var(--icon-mp4);
    }
    &--xml {
      color: var(--icon-xml);
    }

    > svg {
      fill: currentColor;
    }
  }
  &__content {
    padding: 0 16px;
    flex: 1;
    border-left: var(--hrsa-gray-300) 1px solid;
    min-height: 24px;
    display: flex;
    flex-flow: column wrap;
  }
  &__content-name {
    display: block;
    font-size: 14px;
    padding: 0;
    margin: 0;
    &--clamp-1 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &--clamp-2 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &--clamp-3 {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &__content-category {
    display: block;
    font-size: 13px;
    padding: 2px 0;
    margin: 0;
    color: var(--hrsa-gray-500);
  }
  &__secondary-text {
    text-align: right;
    color: var(--hrsa-gray-500);
    font-size: 12px;
  }
  &__actions {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: calc(50% - 16px);
    right: 16px;
    button {
      margin: 0 4px;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
