.landing-btn-list {
  display: grid;
  row-gap: 1.5rem;
  column-gap: 2rem;

  @media (min-width: $hrsa-breakpoint-sm) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $hrsa-breakpoint-md) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $hrsa-breakpoint-lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
