.landing-header-group {
  background-color: #0b4778;
}
.landing-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.75rem 0;
  min-height: 50px;
  //background-image: linear-gradient(var(--hrsa-blue-400), var(--hrsa-blue-500));
  @media (min-width: $hrsa-breakpoint-md) {
    justify-content: flex-start;
  }

  &__logo {
    margin: 0 0.75rem 0 0;
    padding: 0 0.75rem 0 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
  &__logo-mobile {
    width: 100%;
    height: auto;
    max-width: 80px;

    @media (min-width: $hrsa-breakpoint-md) {
      display: none;
    }
  }
  &__logo-desktop {
    display: none;
    width: 100%;
    height: auto;
    max-width: 80px;

    @media (min-width: $hrsa-breakpoint-md) {
      display: block;
    }
  }

  &__title {
    background-color: transparent;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
  }
  &__heading-mobile {
    display: block;
    margin: 0;
    padding: 0;
    color: currentColor;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    @media (min-width: $hrsa-breakpoint-md) {
      display: none;
    }
  }
  &__heading-desktop {
    display: none;
    margin: 0;
    padding: 0;
    color: currentColor;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    @media (min-width: $hrsa-breakpoint-md) {
      display: block;
    }
  }
}
