.landing-btn {
  background-color: var(--white);
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5rem;
  margin: 0;
  border: var(--hrsa-gray-400) 1px solid;
  border-top: 10px solid currentColor;

  border-radius: 6px;
  color: currentColor;
  text-align: left;
  &__img {
    background-color: transparent;
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin: 0 0 2rem 0;
    height: 6rem;
    align-items: center;
    justify-content: center;

    img,
    svg {
      width: auto;
      height: 100%;
      max-width: 140px;
      fill: currentColor;
    }
  }
  &__title {
    font-size: 1.125rem;
    font-weight: 600;
    color: currentColor;
  }
  &__desc {
    color: var(--hrsa-gray-900);
    font-weight: 400;
    font-size: 0.8125rem;
  }

  &--applicant {
    color: #1a699e;
  }
  &--grantor {
    color: #774f8e;
  }
  &--f1-review {
    color: #e55a61;
  }
  &--consultant {
    color: #cf9738;
  }
  &--vendor {
    color: #009b89;
  }
  &--technical-analyst {
    color: #3b56a6;
  }
  &--service-provider {
    color: #1b7288;
  }
  &--program-system-admin {
    color: #1d9cba;
  }
}
