.landing-btn-list {
  display: grid;
  row-gap: 24px;
  column-gap: 24px;

  @media (min-width: $hrsa-breakpoint-sm) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $hrsa-breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $hrsa-breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $hrsa-breakpoint-xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
