$off-canvas-sidebar-width: 400px;
$off-canvas-guide-bg-color: var(--white);

//stop scrolling of body
body[noscroll] {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

//nav holder
.off-canvas-nav-group {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100vh;
  z-index: 2;
  &[opened] {
    z-index: 3;
    width: 100%;

    .off-canvas-nav-group-inner {
      width: 100%;
      @media (min-width: $hrsa-breakpoint-sm) {
        width: $off-canvas-sidebar-width;
      }
    }
  }
}

//close btn
.off-canvas-close {
  background-color: transparent;
}
.off-canvas-close-btn {
  background-color: transparent;
  border: 0;
  padding: 8px;
  color: var(--hrsa-blue-100);
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  &:hover {
    color: var(--hrsa-blue-500);
  }
  img,
  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}

//wrap for the nav
.off-canvas-nav-group-inner {
  background-color: $off-canvas-guide-bg-color;
  width: $off-canvas-sidebar-width;
  transform: translateX(-100%);
  visibility: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: unset;
  transition-property: transform;
  transition-duration: $app-guide-transition-duration;

  &[opened] {
    transform: translateX(0);
  }

  &[no-transition] {
    transition: none;
  }

  &--right-menu {
    top: 0;
    bottom: 0;
    right: 0;
    left: unset;
    transform: translateX(100%);
    &[opened] {
      transform: none;
    }
  }
}

//header
.off-canvas-header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  height: $app-header-height-sm;
  z-index: 1;
  position: relative;
  padding: 16px 8px 16px 12px;
  border-bottom: var(--hrsa-gray-300) 1px solid;
  &__text {
    display: inline-flex;
    align-items: center;
    flex: 1;
  }
  &__icon {
    margin-right: 12px;
    font-size: 18px;
    line-height: 1;
    color: var(--hrsa-gray-500);
    > i {
      font-size: inherit;
      color: inherit;
    }
  }
  &__title {
    color: var(--hrsa-blue-500);
    font-size: 18px;
    font-weight: 600;
  }
}
