$panel-padding-x: 1rem; //left right
$panel-padding-y: 1.5rem; //top bottom

.site-panel {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 3px 4px 15px var(--hrsa-gray-300);
  margin: 0;
  padding: 0;
  &__header {
    margin: 0;
    padding: $panel-padding-y $panel-padding-x;
    background-color: transparent;
    color: var(--hrsa-blue-500);
    display: flex;
    flex-flow: column;
    align-items: normal;
    position: relative;

    @media (min-width: $hrsa-breakpoint-md) {
      flex-flow: row;
      align-items: center;
    }

    &--bordered {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: $panel-padding-x;
        right: $panel-padding-x;
        border-bottom: 1px solid var(--hrsa-gray-300);
        height: 1px;
      }
    }
  }
  &__header-icon {
    color: currentColor;
    background-color: transparent;
    margin: 0 0.25rem 0 0;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    display: none;
    svg,
    img {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      fill: currentColor;
    }
    @media (min-width: $hrsa-breakpoint-md) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__header-title {
    color: currentColor;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.03rem;
  }
  &__header-btns {
    padding: 0;
    margin: 1rem 0 0 0;
    @media (min-width: $hrsa-breakpoint-md) {
      margin: 0 0 0 1rem;
    }
  }

  //body
  &__body {
    padding: $panel-padding-y $panel-padding-x;
  }
  //subheader
  &__subheader {
    background-color: transparent;
    display: flex;
    flex-flow: column;
    margin: 0 0 1rem 0;
    min-height: 2rem;
    align-items: normal;
    justify-content: space-between;

    // Medium devices (tablets, 768px and up)
    @media (min-width: $hrsa-breakpoint-md) {
      flex-flow: row wrap;
      align-items: center;
    }
  }
  &__subheader-title {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--hrsa-gray-600);
    margin: 0 0 0.5rem 0;
    padding: 0;
    @media (min-width: $hrsa-breakpoint-md) {
      margin: 0;
    }
  }
  &__subheader-actions {
    display: flex;
    align-items: center;
  }
  &__subheader-search-label {
    color: var(--hrsa-gray-500);
    margin-right: 0.5rem;
    font-size: 0.875rem;
  }
  &__subheader-search-input {
    background-color: var(--white);
    border: var(--hrsa-gray-400) 1px solid;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    color: var(--hrsa-gray-900);
    margin: 0;
    padding: 0.25rem 0.5rem;
    min-height: 2rem;
    min-width: 100%;
    @media (min-width: $hrsa-breakpoint-md) {
      min-width: 16rem;
    }
    &::placeholder {
      color: var(--hrsa-gray-400);
    }

    &:focus-visible {
      outline-offset: 2px;
    }
  }
  &__subheader-btns {
    padding: 0;
    margin: 0 0 0 0.5rem;
  }
  &__subheader-search {
    display: block;
    position: relative;
    width: 100%;

    &--has-button {
      .site-panel {
        &__subheader-search-input {
          padding: 0.25rem 2rem 0.25rem 0.5rem;
        }
      }
      .icon-btn {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  //info bar
  &__info-bar {
    display: flex;
    flex-flow: column;
    align-items: normal;
    justify-content: normal;
    font-size: 14px;
    font-weight: 400;
    color: var(--hrsa-gray-600);
    margin: 0 0 1rem 0;

    @media (min-width: $hrsa-breakpoint-md) {
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__info-bar-msg {
    display: inline-flex;
    align-items: flex-start;
  }
  &__info-bar-msg-icon {
    display: none;
    font-size: 12px;
    margin: 2px 6px 0 0;
    padding: 0;
    color: var(--hrsa-gray-400);
    @media (min-width: $hrsa-breakpoint-md) {
      display: block;
    }
  }
  &__info-bar-count {
    margin: 8px 0 0 0;
    white-space: nowrap;
    @media (min-width: $hrsa-breakpoint-md) {
      margin: 0 0 0 1rem;
    }
  }
}
