.site-tasks-favorites {
  background-color: transparent;
  display: grid;
  grid-template-areas: "all" "top";
  grid-template-columns: 1fr;
  column-gap: 0;

  @media (min-width: $hrsa-breakpoint-md) {
    grid-template-areas: "all top";
    grid-template-columns: 1fr 45%;
  }

  @media (min-width: $hrsa-breakpoint-lg) {
    grid-template-areas: "all top";
    grid-template-columns: 1fr 35%;
  }

  &__all {
    grid-area: all;
    background-color: var(--white);
    padding: 0 0 1rem 0;
    @media (min-width: $hrsa-breakpoint-md) {
      padding: 0 1rem 0 0;
    }
  }

  &__top {
    grid-area: top;
    background-color: var(--hrsa-gray-100);
    padding: 1rem;
    box-shadow: inset 0px 1px 0 0px var(--hrsa-gray-300);

    @media (min-width: $hrsa-breakpoint-md) {
      box-shadow: inset 1px 0px 0 0px var(--hrsa-gray-300);
    }
  }
  &__top-content {
    padding: 1rem 0;
    margin: 0;
  }
  &__empty {
    font-size: 14px;
    color: var(--hrsa-gray-500);
  }
  &__list {
    background-color: transparent;
  }
}
